{% extends 'core/base.html' %}

{% block title %}{{ tarefa.nome }} | {% endblock %}

{% block content %}
<div id="projeto-app">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="{% url 'projeto:projetos' %}">Projetos</a></li>
            <li><a href="{% url 'projeto:projeto' projeto.id %}">{{ projeto.nome }}</a></li>
            <li class="is-active"><a href="{% url 'projeto:tarefa' projeto.id tarefa.id %}" aria-current="page">{{ tarefa.nome }}</a></li>
        </ul>
    </nav>

    <div class="columns">
        <div class="column">
            <h1 class="title">{{ tarefa.nome }} ({{ tarefa.get_status_display }})</h1>

            <a href="{% url 'projeto:edita_tarefa' projeto.id tarefa.id%}" class="button is-warning">
                <span class="icon"><i class="far fa-edit"></i></span>
                <span>Editar tarefa</span>
            </a>

            <h2 class="subtitle mt-6">Registrar tempo</h2>

            <form action="." method="post">
                {% csrf_token %}

                <div class="field is-grouped">
                    <div class="control">
                        <div class="select">
                            <select name="horas">
                                <option value="0">0h</option>
                                {% for i in "x"|rjust:"23" %}
                                    <option value="{{ forloop.counter }}">{{ forloop.counter }}h</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="control">
                        <div class="select">
                            <select name="minutos">
                                <option value="0">0m</option>
                                {% for i in "x"|rjust:"59" %}
                                    <option value="{{ forloop.counter }}">{{ forloop.counter }}m</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Data</label>

                    <div class="control">
                        <input type="date" id="id_data" name="data" class="input" value="{{ today|date:'Y-m-d' }}" placeholder="yyyy-mm-dd">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-success"><i class="fa-solid fa-floppy-disk mr-1"></i>Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="columns">
        <div class="column is-12">

            <hr>

            <h2 class="subtitle">Registros criados</h2>

            {% if tarefa.registros.all %}
                <table class="table is-fullwidth" style="text-align: left;">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Usuário</th>
                            <th>
                                Tempo (minutos)
                                <i class="fa-solid fa-stopwatch"></i>
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for registro in tarefa.registros.all %}
                            <tr>
                                <td>{{ registro.criado_em }}</td>
                                <td>{% firstof registro.criado_por.get_full_name registro.criado_por.username %}</td>
                                <td>{{ registro.minutos }}</td>
                                <td>
                                    <a href="{% url 'projeto:edita_registro' projeto.id tarefa.id registro.id %}">
                                        <span class="icon"><i class="far fa-edit"></i></span>
                                        <span>Editar</span>
                                    </a>
                                    <span>|</span>
                                    <a href="{% url 'projeto:exclui_registro' projeto.id tarefa.id registro.id %}" 
                                    onclick="confirm('Confirma exlusão do registro?')">
                                        <span class="icon"><i class="fa-solid fa-ban"></i></span>
                                        <span>Excluir</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                    <tfoot>
                        <tr>
                            <th colspan="2">Total</th>
                            <th colspan="2">{{ tarefa.tempo_registrado }} minutos</th>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                <p>Não há registros salvos</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}