{% extends 'core/base.html' %}

{% load static %}

{% block title %}Política de Privacidade | {% endblock %}

{% block content %}
<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Política de Privacidade</h1>
            <h2 class="subtitle">Dados importantes sobre armazenamento de cookies e gerenciamento de dados do   cliente, de acordo com a LGPD.
            </h2>
        </div>
    </div>
</section>
{% endblock %}